* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #ffffff;
  padding-top: 60px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: white;
  padding: 0px 61.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
}
nav .logo img {
  float: left;
  cursor: pointer;
  color: red;
  width: 200px;
  position: relative;
  z-index: 10;
}
nav ul {
  display: flex;
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  font-size: 15px;
  color: black;
  padding: 7.5px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
nav button {
  background-color: #ffcd03;
  font-size: 20px;
  border-radius: 15px;
  border-color: #ffcd03;
  padding: 7.5px 18px;
  cursor: pointer;
}

nav li a:hover {
  background: rgb(201, 201, 201);
  color: rgb(88, 88, 196);
  transition: all 0.25s ease;
}

#submenu {
  /* opacity: 0; */
  position: absolute;
  top: 96%;
  visibility: visible;
  z-index: 1000;
  display: none;
  overflow-y:visible;
  /* padding: 6px 1px; */
  line-height: 32px;
}

li:hover ul#submenu {
  opacity: 1;
  /* top: 50px; */
  visibility: visible;
  display: block;
  position: absolute;
  z-index: 100;
}

#submenu li {
  float: none;
  width: 100%;
  
}

#submenu a:hover {
  background: rgb(201, 201, 201);
}

#submenu a {
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.container {
  width: 100%;
  height: 552px;
  background-size: cover;
  background-position: center;
  background-color: rgb(10, 247, 109);
  
}
.container video {
  width: 100%;
  height: 91%;
  object-fit: cover;

}


body {
  position: relative;
  height: 100%; 
  align-items: center;
  height: 80vh;
}

.slide {
  width: 100%;
  height: 90%;
  position: absolute;
  /* box-shadow: 1px 2px 4px 4px rgb(0, 0, 0); */
  transition: 1s;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav button {
  font-size: larger;
  margin-top: 16%;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-size: 60px;
  cursor: pointer;
  visibility: visible;
  position: relative;
  z-index: 100;
  color: rgb(182, 176, 165);
}

.material-icons-outlined:hover {
  color: #ffffff;
}
main {
  width: 100%;
  height: 613px;
  /* top: 85px; */
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 0 3px black; */
  position: relative;
  overflow-x: hidden;
}

.material-symbols-outlined {
  vertical-align: -6px;
}

.client{
  display: flex;
  background-color: #fff;
}

.client div{
  padding: 25px 40px;
}

.client p{
  font-size:21px;
  font-weight:bolder;
}

.HomeAiStudio{
  background-image:url(/bg-ai-products-dark.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* padding: 45px 121.500px; */
  /* margin: 45px; */

.aiProducts{
  text-align: center;
  font-size:28px;
  line-height: 39px;
  font-weight: 600;
  color: #fff;
}

.aiProducts h1{
  text-align: center;
  font-size:60px;
  line-height: 72px;
  font-weight: 900;
  color: #fff;
}

.aiProducts p{
  text-align: center;
  font-size:28px;
  line-height: 39px;
  font-weight: 600;
  color: #fff;  
}

.aiStudio{
  align-items: center;
  display: flex;
  color: #fff;
}

.aiStudio_h1{
  /* text-align: center; */
  margin-bottom: 7.5px;
  font-size:60px;
  line-height: 72px;
  font-weight: 900;
  color: #fff;
}

.text-secondary{
  color: #ffcd03;
}

.learn-more-btn{
  background-color: #ffd529;
  color: black;
  border-radius: 2.25rem;
  padding: 15px 30px;
  text-transform: uppercase;
  height: 51px;
  text-decoration: none;
}

.pe-lg-5 {
  padding-right: 45px;
  margin-right: 45px;
}

.AiContainer{
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 45px;
}

.museo-9 .h1{
font-size: 4rem;
}

.mb-4{
  margin-bottom: 22.5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.mb-5{
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
